* {
  box-sizing: border-box;
}


.astros {

  display: grid;
  font-family: Arial, sans-serif;
  grid-template-areas: 
       "header eheader eheader eheader eheader eheader eheader eheader eheader eheader eheader"
       "aside main main main main main main main main main main";
   grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
   grid-template-rows: auto auto auto auto;    

}

.o-header, .o-aside, .e-header, .o-main {
    background: #fdfdfd;
    color: black;
    border: 5px solid white;

    
}

.o-header {
    grid-area: header;
    padding: 2rem;
    height: 200px;
    background: #fdfdfd; /*#3490dc*/
}

.e-header {
    grid-area: eheader;
    padding: 2rem;
    height: 200px;
    background: #fdfdfd; /*#349c*/
}

.o-aside {
    grid-area: aside;
    padding: 2rem;
    height: 350px;
    background: lightgray; /*#ffed4a*/
    text-align: center;
}

.o-main {
    grid-area: main;
    padding: 2em;
    height: 350px;
    background: lightgray; /*#38c172*/
}

.e-header div {

   margin-left: 55px;

}

.o-main div {

   margin-left: 55px;
}

.aki li {

   list-style: none;
   padding: 20px 10px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px; 
    height: 150px;
}
